:root {
	--text-light: #d0d0d0;
	--text-dark: #202020;
	--bg-primary: purple;
	--bg-active: lightgreen;
	--bg-hover: orange;
	--border-radius: 16px;
}

.header-bar {
	color: var(--text-light);
	background-color: var(--bg-primary);
	overflow: hidden;
	display: flex;
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	position: sticky;
	top: 0;
}

.header-bar a {
	color: var(--text-light);
	background-color: var(--bg-primary);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.header-bar a.active {
	color: var(--text-dark);
	background-color: var(--bg-active);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.header-bar a:hover {
	color: var(--text-dark);
	background-color: var(--bg-hover);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.right-links {
	margin-left: auto;
	display: flex;
}
